body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

.profile-photo{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid white;

}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 60px 20px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}